{% extends "base_generic.html" %}

{% block content %}
<h3>Landon, Marijuana User</h3>
<p> 
    Landon is a new Computer Science graduate from the University of Louisiana Lafayette and specializes in web development.
    He is a Louisiana native, has never left the state in all of his life, and wants to make a higher wage than jobs he 
    would get locally. He finds and gets accepted into his dream job as a web developer in Seattle, Washington. After 
    working on-site at his new job for a few days, he walks past a marijuana dispensary on his way back home. Since he
    has never tried any recreational drugs, he decides to walk in, buy some marijuana, and soon becomes a daily smoker.
</p>

<p>
    While on his "highs", he likes to walk around the beautiful city of Seattle at night. He is still responsible with 
    recreational marijuana, but sometimes forgets which vending machines around his area have his favorite snacks. Since 
    Landon has a background in developing technologies, he thinks there must be an app to remind him while he is under 
    the influence.
</p>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fHByb2dyYW1tZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&h=450&q=60"
                alt="Stock image from Unsplash of student at a computer">
        </div>
        <div class="col">
            <img src="https://images.unsplash.com/photo-1521504018422-a60fb399b4c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&h=450&q=80"
                alt="Stock image from Unsplash of elderly man">
        </div>
    </div>
    <div class="row">
        <h3 class="col">Landon's Scenarios</h3>
        <h3 class="col">Landon's Stories</h3>
    </div>
    
    <div class="row">  
        <ol class = "col">
            <li>
                <h5>Connecting With Perspective</h5>
                <p>While resting in bed one night, Landon discovers the In The Moment app and decides to try it out the next day. In the
                    morning, Landon's supervisors tell him he needs to learn a new technology to work on the current project; he spends all
                    the next few hours getting frustrated with it since this is something completely new to him. On his lunch break, he opens
                    up In The Moment and creates a few reminder pins he will visit that night after his stressful day.</p>

                <p>On his nightly walk, he sees a homeless person sitting on the sidewalk. Landon talks to this man about his life
                    on the streets, his overall situation, and how he ended up there. Feeling a bond between this man and himself, Landon
                    offers to share his marijuana with the homeless man to let him take his mind off of the worries of the world for a moment.
                    As the two are smoking and walking down the street, Landon gets a reminder on his phone that they are approaching a vending
                    machine that has been pinned by Landon earlier that day and both men share a bag of Doritoes.
                </p>

            </li>
            <li>          
                <h5>Variety is the Spice of Life</h5>      
                <p>Landon, now parted ways with the homeless man, walks down a couple of blocks and sees a crowded McDonald's. He knows he'll
                    be waiting for a least 20 minutes but decides to walk in since he doesn't have anywhere to be anyway. After waiting in line,
                    he orders his usual two Hot-n-Spicy's and sits down in a booth. Since he came by himself, he looks around at people and makes
                    jokes to himself at what they are saying to each other. His eyes then drift to the menu again and he sees a new item on the
                    menu that he hasn't seen before: the Shamrock shake. He wants to get it but he already spent his money. So he takes a picture
                    of the shake, creates a reminder on the In The Moment app, and attaches the image to it. Next time he comes to his local
                    McDonald's, he will make sure to get the Shamrock shake instead of his two Hot-n-Spicy's.</p>

            </li>
        </ol>
        
        <ol class = "col">
            <li>
                <h5>Memory Aid</h5>
                <p>As a marijuana user, I want to be able to remember where some vending machines are so I can buy my favorite snacks.</p>
            </li>
            <li>
                <h5>Reminder to Change It Up</h5>
                <p>As someone who eats fast food, I want to remember the menu so I can buy new items instead of my usual ones.</p>
            </li>
        </ol>
    </div>    
</div>



{% endblock %}


