<link rel="stylesheet" type="text/css" href="static/css/userAnalysis.css">
{% extends "base_generic.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <h2 class="col" align="center"><u>User Segments</u></h2>
        <h2 class="col" align="center"><u>User Stories</u></h2>
        <div class="col"></div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <ul style="list-style: none" align="right">
                <li>
                    <h3>Memory Impaired</h3>
                </li>
                <li>
                    <h3>Commuter</h3>
                </li>
                <li>
                    <h3>Pedestrian</h3>
                </li>
                <li>
                    <h3>Organizer</h3>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style: none">
                <li>
                    <h3><a href="{% url 'landon' %}">Landon</a>, Marijuana User</h3>
                </li>
                <li>
                    <h3><a href="{% url 'hannah' %}">Hannah</a>, International Student</h3>
                </li>
                <li>
                    <h3><a href="{% url 'james' %}">James</a>, Police Officer</h3>
                </li>
                <li>
                    <h3><a href="{% url 'larry' %}">Larry</a>, Adventure Event Organizer</h3>
                </li>
            </ul>
        </div>
    </div>

    <br>
    <br>

    <div class="row">
        <h1 class="col" align="center"><u>Features</u></h1>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <ul style="list-style: none">
                <li>
                    <h4>User Creation</h4>
                    <p>Create a user and password.</p>
                </li>
                <li>
                    <h4>Login</h4>
                    <p>Allow users to login. That login is authenticated.</p>
                </li>
                <li>
                    <h4>Edit User</h4>
                    <p>Change user information, such as a password.</p>
                </li>
                <li>
                    <h4>Reminders/Generic Pin - Address Input</h4>
                    <p>Create geolocation-based reminders/pins by typing in an address.</p>
                </li>
                <li>
                    <h4>Reminders/Generic Pin - Interactive Map</h4>
                    <p>Create geolocation-based reminders/pins by dropping a pin on the map.</p>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style: none">
                <li>
                    <h4>Generate Route</h4>
                    <p>Choose which pins to include and generate a route through selected.</p>
                </li>
                <li>
                    <h4>Edit Route</h4>
                    <p>Customize the path you take to reach your pins.</p>
                </li>
                <li>
                    <h4>Edit Reminders/Pins</h4>
                    <p>Change the information in the reminder, such as location, message, or time.</p>
                </li>
                <li>
                    <h4>Delete Reminders/Pins</h4>
                    <p>Remove reminder from your list.</p>
                </li>
                <li>
                    <h4>Display Reminders/Pins</h4>
                    <p>Show all existing reminders</p>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul style="list-style: none">
                <li>
                    <h4>Display Nearby Reminders/Pins</h4>
                    <p>Show all reminders in a given radius</p>
                </li>
                <li>
                    <h4>Images in Reminders/Pins</h4>
                    <p>Embed images for enhanced reminders.</p>
                </li>
                <li>
                    <h4>Pause Reminders/Pins</h4>
                    <p>Sleep reminders indefinitely, on a schedule, or for a given period of time.</p>
                </li>
                <li>
                    <h4>Bundle Reminders/Pins</h4>
                    <p>Select and group pins or reminders. </p>
                </li>
                <li>
                    <h4>Share Reminders/Pins</h4>
                    <p>Share individual or grouped reminders.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}