{% extends "base_generic.html" %}

{% block title %}In The Moment{% endblock %}
<br>
{% block content %}

<div class="container">
    <p align="center"><b>Are you fed up with setting a thousand reminders a day like us?</b></p>
    <p align="center"><i>In The Moment</i> is going to change that.</p>
    <br>
    <p align="center">For students, workers, and forgetful people who need to balance 
                      the stress of the day with peace of mind, <i>In The Moment</i> is a 
                      reminder app that uses your location unlike the regular reminders
                      on your phone. This app will only notifiy you when you get to the 
                      certain area where you set your reminders instead of just relying 
                      on the time. Now, your pesky "helpful" device won't get in the way 
                      of enjoying your day! A life so sublime, I even made it rhyme!</p>
    <br>
    <p align="center"><b>Tired of eating the same old food at your favorite restaurant?</b></p>
    <p align="center">Well, using the <i>In The Moment</i> app, you can remind your habit-loving 
                      future self to get that mouth-watering menu choice next time!</p>
    <br>
    <p align="center"><b>Or perhaps you need to keep yourself on track at work or school.</b>
    <p align="center">Enjoy a calm, peaceful morning on the drive there. (Or jamming 
                      out <i>...that's the way I like to do it...</i>)</p>
    <br>
    <p align="center">You have places to go, people to see, <i>In The Moment</i> can help every mind-easing need!</p>

</div>

{% endblock %}
