{% extends "base_generic.html" %}

{% block content %}
<h3>Hannah, an international student</h3>
<p>
    Hannah is a 21-year-old full-time international student from Montreal, Canada pursuing a degree in International
    Relations at the University of Louisiana at Lafayette. She is fascinated with foreign cultures and food, and since
    she is from the region of Qu&eacute;bec, she has been immersed in French culture since birth. Therefore, she was
    excited to be able to experience and compare Cajun culture with the Qu&eacute;b&eacute;cois firsthand as she was
    accepted to learn in the heart of Acadiana. One of her favorite activities to wind down outside of class is to visit
    the local restaurants and critique the cuisine with her friends.
</p>

<p>
    Hannah is not the most technologically adept person, but she grew up in the digital age. She’s active on social
    media and runs a small personal blog to keep track of restaurants and dishes she’s had. However, searching through
    blog posts for a particular restaurant every time she wants to figure out that one dish that she wanted to try is
    never worth the effort. Additionally, as a student she struggles every single semester with trying to absorb her new
    schedule and making a consistent, quick route between all of the buildings she hasn’t visited before. She wants to
    use iTM to help organize reminders and notes by location, and organize her planned locations by route.
</p>

<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://media.istockphoto.com/photos/young-woman-wearing-bandana-as-protective-face-mask-picture-id1304581899?b=1&k=20&m=1304581899&s=170667a&w=0&h=xxTKiyoJUU8adaCMoo8xzU2bjbHeL_9GjTK-mY_zgHE="
                alt="Stock image from Unsplash of student">
        </div>
        <div class="col">
            <img src="https://images.unsplash.com/photo-1578203979171-d7f91446ab78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y2FqdW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
                alt="Stock image from Unsplash of girl taking photo of New Orleans">
        </div>
    </div>
    <div class="row">
        <h3 class="col">Hannah's Scenarios</h3>
        <h3 class="col">Hannah's Stories</h3>
    </div>

    <div class="row">
        <ol class="col">
            <li>
                <h5>Cajun Cuisine</h5>
                <p>
                    Hannah is so excited to sample food from all of the diverse restaurants available to her city,
                    especially the Cajun cuisine. She runs a blog featuring the restaurants she’s visited, what she’s
                    tried, and what she thought of her food. Often times, she finds it difficult to decide what food she
                    wants to buy, and would like to come back another time to try the other items on the menu. However,
                    by the time she returns to one of these restaurants, she usually forgets which item it was.
                </p>
                <p>
                    Hannah tried using the default reminder system on her phone, but she found that these are only
                    useful for setting a time. She can set a reminder if she knows when she will be returning to the
                    restaurant, but if she doesn’t, she just has to write it down in her notes. This relies on her
                    combining multiple different features to accomplish a simple task. She decided that this was a waste
                    of her time. After all, she records all of this information in her blog anyway, but that’s even more
                    effort to search through when it’s not organized by restaurant. She can write reminders using her
                    phone’s system, but there is no way to trigger upon a location.
                </p>
                <p>
                    Thankfully, with iTM, all Hannah has to do is visit the map, mark where she is, and assign a note to
                    that location. She can create and edit a note filled with all the items she’s tried, or simply
                    delete the notes once she’s tried the associated items. Now she’ll never forget that she actually
                    wanted to try the dessert special pain perdu instead of the beignets!
                </p>
            </li>
            <li>
                <h5>New Semester Schedule</h5>
                <p>
                    Hannah is always eager to start a new semester – but internalizing her route is a pain every single
                    time. She is anxious about repeating a mistake she made on her first day of Freshman year, where she
                    mistook Mouton hall for F.G. Mouton hall. She tried to write the relevant information down in her
                    notes, but it’s all cluttered when writing down location information along with time and other
                    important information like required textbooks.
                </p>
                <p>
                    In these first few weeks, she’s forced to constantly switch between her notes and a map. Usually the
                    buildings she wants to look at are not registered with any detail on the more popular map services,
                    so she’s forced to look at the location of the buildings constantly on her university’s application.
                    These are often not the fastest, most stable, or appealing applications to use, especially when
                    loading from many complex functions.
                </p>
                <p>
                    With iTM, though, Hannah only needs to find out where she needs to go while planning her route. She
                    places the pins in the buildings where she knows her classes will be, assigns notes with everything
                    she needs to know about these classes, and place them in the same bundle. Now all the information
                    she needs to know about her class times and where she needs to travel are available on one screen.
                </p>
            </li>
        </ol>

        <ol class="col">
            <li>
                <h5>Location-Based Reminders</h5>
                <p>
                    As someone who makes a hobby out of sampling different restaurants, I need a simple way to remind
                    myself what new items to try for the next time I visit so that I don’t have to search through notes
                    or blogs to find out what I wanted to sample originally.
                </p>
            </li>
            <li>
                <h5>Location Bundles</h5>
                <p>
                    As a college student, I need a more convenient way to bundle up notes and locations so that I can
                    more easily slip in to the schedule of traveling between classes in a less error prone way than
                    organized alternatives.
                </p>
            </li>
        </ol>
    </div>
</div>



{% endblock %}