{% extends "base_generic.html" %}

{% block content %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">In the Moment</h1>
            <p>Let <em>In the Moment</em> help create your special moments.</p>
            <p>
                <a class="btn btn-primary btn-lg" href="{% url 'about' %}" role="button">
                Learn more &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            Set recurring reminders every time you are near a location or make it a one time thing. The flexibility with iTM allows you to live your life the way you want to. Our goal is to remove the uneccessary stresses of modern life. Stop and smell the flowers, even if you need an iTM reminder to do it!
        </div>
        <hr>
    </div> <!-- /container -->
</main>
{% endblock %}
