{% extends "base_generic.html" %}

{% block content %}
<h3>James, a primary school teacher</h3>
<p> 
Jack, age 32, is a primary school (elementary school) teacher in Ullapool, a large coastal village in the Scottish Highlands. He teaches children from ages 9 to 12. He was born in a fishing community north of Ullapool, where his father runs a marine fuels supply business and his mother is a community nurse. He has a degree in English from Glasgow University and retrained as a teacher after several years working as a web content author for a large leisure group.
</p>

<p>
Jack’s experience as a web developer means that he is confident in all aspects of digital technology. He passionately believes that the effective use of digital technologies, blended with face-to-face teaching, can enhance the learning experience for children. He is particularly interested in using the iLearn system for project-based teaching, where students work together across subject areas on a challenging topic.
</p>

<div class="container">
    <div class="row">
        <h3 class="col">Scenarios</h3>
        <h3 class="col">Stories</h3>
    </div>
    
    <div class="row">  
        <ol class = "col">
            <li>
                <p>Jack is a primary school teacher in Ullapool, teaching P6 pupils. He has decided that a class project should be focused around the fishing industry in the area, looking at the history, development, and economic impact of fishing.</p>

                <p>As part of this, students are asked to gather and share reminiscences from relatives, use newspaper archives, and collect old photographs related to fishing and fishing communities in the area. Pupils use an iLearn wiki to gather together fishing stories and SCRAN (a history archive site) to access newspaper archives and photographs. However, Jack also needs a photo-sharing site as he wants students to take and comment on each others’ photos and to upload scans of old photographs that they may have in their families. He needs to be able to moderate posts with photos before they are shared, because pre-teen children can’t understand copyright and privacy issues. 
                </p>

                <p>Jack sends an email to a primary school teachers’ group to see if anyone can recommend an appropriate system. Two teachers reply and both suggest that he use KidsTakePics, a photo-sharing site that allows teachers to check and moderate content. As KidsTakePicsis not integrated with the iLearn authentication service, he sets up a teacher and a class account with KidsTakePics.</p> 

                <p>He uses the the iLearn setup service to add KidsTakePics to the services seen by the students in his class so that, when they log in, they can immediately use the system to upload photos from their phones and class computers.
                </p>
            </li>
            <li>Scenario 2</li>
        </ol>
        
        <ol class = "col">
            <li>
                <p>As a teacher, I need to be able to report who is attending a class trip so that the school maintains the required health and safety records.</p>
            </li>
            <li>Story 2</li>
        </ol>
    </div>    
</div>



{% endblock %}
