{% extends "base_generic.html" %}

{% block content %}
<h3>Larry, change this to say something descriptive</h3>
<p> 
Change this part to the first paragraph of your personaChange this part to the first paragraph of your personaChange this part to the first paragraph of your personaChange this part to the first paragraph of your personaChange this part to the first paragraph of your personaChange this part to the first paragraph of your personaChange this part to the first paragraph of your personaChange this part to the first paragraph of your personaChange this part to the first paragraph of your personaChange this part to the first paragraph of your persona
</p>

<p>
Change this part to the rest of your persona
</p>

<div class="container">
    <div class="row">
        <h3 class="col">Scenarios</h3>
        <h3 class="col">Stories</h3>
    </div>
    
    <div class="row">  
        <ol class = "col">
            <li>
                <p>Put Scenario 1, paragraph 1 here (1.1)</p>

                <p>Put 1.2 here (scenario 1, paragraph 2)
                </p>

                <p>Put 1.3 here (scenario 1, paragraph 3)</p> 

                <p>Put 1.4 here (scenario 1, paragraph 4). Continue this trend or reduce as needed.
                </p>
            </li>
            <li>                
                <p>Put 2.1 here</p>

                <p>Put 2.2 here
                </p>

                <p>Put 2.2 here</p> 

                <p>Put 2.2 here
                </p>
            </li>
        </ol>
        
        <ol class = "col">
            <li>
                <p>Put Story 1 here</p>
            </li>
            <li>Put Story 2 here</li>
        </ol>
    </div>    
</div>



{% endblock %}
