{% extends "base_generic.html" %}

{% block content %}
<h3>Larry:  Adventure Event Organizer</h3>
<p>
    Larry is a 19 year old male who uses this program to set up daventures with hints scattered across vast areas. By bundlig pins together and posting a share code publicly, peoople can get his sets of pins and follow them as clues from one to the next.
</p>
<p>
    He's finished High School, and is currently undeclared in College. He understands math and programing decently well, but enjoys story telling more so. He learned of this app when a freshman seminar explained how the campus uses this for quick building specific notifications. After trying it out for a while he figured he could do more with it, and he's been posting adventures since then.
</p>

<div class="container">
    <div class="row">
        <h3 class="col">Scenarios</h3>
        <ol class = "col">
            <li>
                <p>-Campus Uses</p>
                <p>
                    As stated above, his campus uses these for building specific notifications. Sometimes is a message to wish a staff member happy birthday, or that a machine is broken, or a walkway is closed. Whatever it is, he can simply click the link he gets at the start of the day from the staff to download a bundle of pins, and delete the previous days bundle.
                </p>
            </li>
            <li>
                <p>-Adventure Creation</p>
                <p>
                    In his spare time, Larry will sit down and look at maps. He'll look at locations and think of a story for the places to tie them together. He'll cut the story into snippets and create thematic clues to tie the pieces together, and post the story bits onto a site and get a link to it.
                </p>
                <p>
                    Once he has a full story that's about hopping from place to place based off of clues, he'll start placing each story bit onto a corraspondign pin in the relevant location. This creates a path from pin to pin, where you get bits of the story at each pin.
                </p>
                <p>
                    After double checking the pins, he'll bundle them together, and make a public post somewhere with a link for the bundle, and a starting hint. Its a fun process for him to do in his spare time, and he's gotten prety good at it.
                </p>
            </li>
        </ol>
        <h3 class="col">Stories</h3>
    </div>
    <div class="row">
        <ol class = "col">
            <li>
                <p>Ice Cream Machine Broken</p>
                <p>
                    It was a regular morning on campus, Larry woke up and checked email. He saw a new set of pins, and downloaded them. As he walked on his way to morning classes he passed the cafateria. They usauly post their pins at the door if they have one, and this morning he got a notification saying that there would be no ice ceram served today. Good to know, Larry then thought about changing plans for desert as he kept walking on to class.
                </p>
            </li>
            <li>
                <p>Campus Crusade "In The Bushes"</p>
                <p>
                    The first adventure Larry made. It was middle of his first semester, and he had written a small story about tracking a gnome that hid in gardens across campus. He posted it by printing the share link onto a piece of paper, a few sentances saying wht it was, and his email so people could tell him if it was fun. He still get's emails to this day from both students, faculty, and people just visiting campus that it was a fun little adventure. Although one of the gardens was ripped up recently, so maybe he should update it.
                </p>
            </li>
        </ol>
    </div>    
</div>



{% endblock %}
