{% extends "base_generic.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block title %} Meet our team {% endblock %}

{% block content %}
<div class="container mt-40">
    <div class="row mt-30">
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img src="https://www.gravatar.com/avatar/ada24e71e28d00e2026de2b19114d644" alt="user" />
                <div class="box-content">
                    <h3 class="title">Chris Thib C00468013</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-gitlab"></i></a></li>
                    </ul>
                </div>
            </div>
            <span class="post">[A] Project Lead</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img src="https://www.gravatar.com/avatar/adf166ffcd51897129334cfb2c47fa70" alt="user" />
                <div class="box-content">
                    <h3 class="title">Daniel Duthu C00414139</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-gitlab"></i></a></li>
                    </ul>
                </div>
            </div>
            <span class="post">[B] Member</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img src="https://www.gravatar.com/avatar/8037d6e55f483080f5b8f461bbb17745" alt="user" />
                <div class="box-content">
                    <h3 class="title">Alex Castille C00406499</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-gitlab"></i></a></li>
                    </ul>
                </div>
            </div>
            <span class="post">[C] Member</span>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="box15">
                <img src="https://www.gravatar.com/avatar/6e8fbdaff9cbae16cfacc75f6b50296f" alt="user" />
                <div class="box-content">
                    <h3 class="title">Lucas Blanchard C00423867</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fab fa-gitlab"></i></a></li>
                    </ul>
                </div>
            </div>
            <span class="post">[D] Member</span>
        </div>
    </div>
</div>
{% endblock %}
