{% extends "base_generic.html" %}

{% block content %}
<style type="text/css">
	.carousel-caption {
		color: black;
	}
</style>
<div class="container">
	<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

		<ol class="carousel-indicators">
			<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
			<li data-target="#carouselExampleCaptions" data-slide-to="7"></li>
		</ol>

		<div class="carousel-inner">
			<div class="carousel-item active">
				<iframe src="https://drive.google.com/file/d/1O3e6trphJlnM_mb6g2MsSPZipHJn_nBA/preview" width="640"
					height="480" class="d-block w-100" alt="..."></iframe>
				<div class="carousel-caption d-none d-md-block">
					<h5>UI Flow Diagram</h5>
					<p>Flow through the UI of our iTM app.</p>
				</div>
			</div>
			<div class="carousel-item">
				<iframe src="https://drive.google.com/file/d/1u74UEM1Qsmr_yWR3mWRMaP-np2-AwuAr/preview" width="640" height="480" allow="autoplay" class="d-block w-100" alt="..."></iframe>
				<div class="carousel-caption d-none d-md-block">
					<h5>Landing Page</h5>
					<p>Displaying the map and sidebar, this is our landing page.</p>
				</div>
			</div>
			<div class="carousel-item">
				<iframe src="https://drive.google.com/file/d/17Yh2RMrcGFvcPGZAMxs1eTi8dZF6xe68/preview" width="640" height="480" allow="autoplay" class="d-block w-100" alt="..."></iframe>class="d-block w-100" alt="..."></iframe>
				<div class="carousel-caption d-none d-md-block">
					<h5>Default Sidebar</h5>
					<p>Displaying pins, a menu button, and a collapse-tab, this is our default sidebar.</p>
				</div>
			</div>
			<div class="carousel-item">
				<iframe src="https://drive.google.com/file/d/1MgNglZDBVg4r3smAcAKmypNMW1ohjWBT/preview" width="640" height="480" allow="autoplay" class="d-block w-100" alt="..."></iframe>
				<div class="carousel-caption d-none d-md-block">
					<h5>Menu Options</h5>
					<p>These are the menu options available.</p>
				</div>
			</div>
			<div class="carousel-item">
				<iframe src="https://drive.google.com/file/d/1erGN9SCwNX8i5oguwJNqM9rX2vUiiuSU/preview" width="640" height="480" allow="autoplay" class="d-block w-100" alt="..."></iframe>
					<div class="carousel-caption d-none d-md-block">
						<h5>Pin Creation Page</h5>
						<p>Displaying a pin creation form for user input, this is our pin creation page.</p>
					</div>
			</div>
			<div class="carousel-item">
				<iframe src="https://drive.google.com/file/d/1IHt_9rviOZbRGy6y5cNHgUm5eJXxrqVD/preview" width="640" height="480" allow="autoplay" class="d-block w-100" alt="..."></iframe>
				<div class="carousel-caption d-none d-md-block">
					<h5>Bundle Page</h5>
					<p>Displaying various bundle management options, our bundles, and an exit button, this is our bundle
						page.</p>
				</div>
			</div>
			<div class="carousel-item">
				<iframe src="https://drive.google.com/file/d/1eM7opPKxEcItLpB_0NM3b4K_2iG6pA_4/preview" width="640" height="480" allow="autoplay" class="d-block w-100" alt="..."></iframe>
				<div class="carousel-caption d-none d-md-block">
					<h5>Settings Page</h5>
					<p>User settings and various resetting options are shown on our settings page.</p>
				</div>
			</div>
			<div class="carousel-item">
				<iframe src="https://drive.google.com/file/d/17wFBHcrM5R2mgNYqsNS9UBl6yQrhj-Tm/preview" width="640" height="480" allow="autoplay" class="d-block w-100" alt="..."></iframe>
				<div class="carousel-caption d-none d-md-block">
					<h5>Bundle Creation Page</h5>
					<p>Select your pins to bundle and give that bundle a name on our Bundle Creation Page.</p>
				</div>
			</div>
		</div>

		<button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</button>

	</div>
</div>

<script type="text/javascript" src="static/js/cursor.js"></script>

{% endblock %}