<link rel="stylesheet" type="text/css" href="static/css/userAnalysis.css">
{% extends "base_generic.html" %}

{% block content %}
<div class="container">

    <div class="row">
        <h1>User Segments:</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tristique fringilla ex, ut ornare purus efficitur at. Nullam sit amet ipsum elementum, efficitur urna ut, aliquam urna. Nunc nec mollis urna, in tempus arcu. Integer ullamcorper velit gravida nisi sodales cursus. Donec consectetur, diam eget congue ultrices, magna est ultricies enim, ut cursus tortor ipsum a lorem. Mauris vestibulum ut risus non tincidunt. Donec eu nisi mi. Aliquam erat volutpat.</p>
    </div>
    <br>

    <div class="row">
        <h1>User Stories:</h1>
    </div>
    <ul>
        <li><h3><a href="#">Frank</a></h3></li>
        <li><h3><a href="#">Joanne</a></h3></li>
        <li><h3><a href="#">Alice</a></h3></li>
        <li><h3><a href="#">Bob</a></h3></li>
    </ul>
    <br>

    <div class="row">
        <h1>Features:</h1>
    </div>
    <ol>
        <li>
            <h2>Feature A</h2>
            <p>Morbi vitae placerat mi. Sed eu tortor nec ante vulputate aliquam. Ut id pulvinar tellus, quis volutpat mi. Phasellus iaculis elementum massa sed ultricies. Cras lobortis rhoncus ultricies.</p>
        </li>
        <li>
            <h2>Feature B</h2>
            <p>Vestibulum posuere laoreet tempor. Curabitur eu ex luctus, faucibus nulla vel, sagittis lacus. Nam convallis consectetur odio in finibus.</p>
        </li>
        <li>
            <h2>Feature C</h2>
            <p>Aenean vel turpis vel erat accumsan commodo. Duis eget pellentesque ex. Aliquam erat volutpat. Pellentesque ac erat elementum, fermentum erat vehicula, ornare dolor.</p>
        </li>
        <li>
            <h2>Feature D</h2>
            <p>Proin purus nisi, pretium quis mi a, pulvinar elementum arcu. Nulla luctus lorem eget justo fermentum laoreet. Quisque ac lectus vehicula, congue ante ac, ultricies dui.</p>
        </li>
        <li>
            <h2>Feature E</h2>
            <p>Aliquam quis lectus ultrices risus pharetra maximus venenatis interdum risus. Praesent sed massa aliquam, fermentum nulla et, sagittis nunc.</p>
        </li>
        <li>
            <h2>Feature F</h2>
            <p>Aenean auctor mi et dolor efficitur, nec posuere sem fringilla. Praesent est arcu, semper a sodales at, tincidunt in odio. Duis non lorem nec nulla vulputate consectetur.</p>
        </li>
        <li>
            <h2>Feature G</h2>
            <p>Ut pretium, nisl vitae faucibus venenatis, quam nisi venenatis lorem, et luctus dui odio quis odio. Sed vulputate et orci eu iaculis. Quisque nec feugiat nulla.</p>
        </li>
        <li>
            <h2>Feature H</h2>
            <p>Aenean fringilla lorem purus, non tincidunt orci tristique sit amet. Nulla eleifend pulvinar massa, non rhoncus ante vestibulum fringilla.</p>
        </li>
        <li>
            <h2>Feature I</h2>
            <p>Ut eget metus consectetur, aliquam eros et, volutpat nulla. Donec ac ipsum et lectus volutpat vestibulum at ac dolor.</p>
        </li>
        <li>
            <h2>Feature J</h2>
            <p>Suspendisse urna sapien, commodo ac lacus quis, rutrum varius dui. Fusce sollicitudin lacinia justo at tempus. Aliquam ac mauris id mauris imperdiet porttitor.</p>
        </li>
        <li>
            <h2>Feature K</h2>
            <p>Vivamus eget risus et dui consectetur dapibus at et arcu. Fusce sed arcu sodales, iaculis lorem quis, lacinia mi.</p>
        </li>
    </ol>

</div>

{% endblock %}
